<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>SimpleServlet</servlet-name>
<servlet-class>second.Servlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SimpleServlet</servlet-name>
<url-pattern>/SimpleServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MyServlet</servlet-name>
<servlet-class>second.MyServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>MyServlet</servlet-name>
<url-pattern>/second/MyServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>P8_1</servlet-name>
<servlet-class>second.P8_1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>P8_1</servlet-name>
<url-pattern>/second/P8_1</url-pattern>
</servlet-mapping>
</web-app>